.header {
  width: 1052px;
  min-height: 105px; /*Исправил, теперь контейнер при добавлении контента будет растягиваться по высоте*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 92px 24px 0;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  list-style: circle;
  white-space: nowrap;
  gap: 32px;
}

.header__links-list-item {
  font-size: 18px;
  font-weight: 400;
}

.header__links-list-item_no-bullit {
  list-style: none;
  margin-left: 26.52px;
}

.header__link_active {
  text-decoration: none;
  letter-spacing: 0;
}

.header__link {
  text-underline-position: under;
  letter-spacing: 0.18px;
}

.header__logo {
  display: flex;
  justify-content: center;
  width: 148px;
  height: 105px;
  margin: 0 185px 0 36px;
}

.header__logo-image {
  display: block;
  width: 136px;
}

.address {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__address {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
}

.cover {
  width: 100%;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  top: 96px; 
  padding-bottom: 656px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / .6);
  position: absolute;
  z-index: 1;
}

.cover__title {
  max-width: 1000px; /*Исправил.Добавил значение для корректного отображение текста*/
  width: 100%;
  min-height: 355px; /*исправил.Убрал ограничение*/
  color: white;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  inset: 165px 0 0 50px;
  z-index: 2;
}

.aligned-text {
  letter-spacing: 30px;
  line-height: 1.15;
  text-align: left;
  display: block;
}

.aligned-text_center {
  letter-spacing: 30px;
  line-height: 1;
  text-align: center;
  display: block;
  padding: 20px 0 0 0;
}

.aligned-text_right {
  letter-spacing: 30px;
  line-height: 1;
  text-align: right;
  display: block;
  padding: 19px 0 0 0;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-spacing_normal {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 51px 78px;
  position: relative;
  top: 655px;
  z-index: 2;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.span {
  letter-spacing: 24.2px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid currentColor; /*Сделал лучше на удобный способ*/
  background-color: transparent;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.lots {
  box-sizing: border-box;
  max-width: 1052px;
  min-height: 692px; /*Исправил*/
  margin: 275px 24px 0;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
  display: flex;
  flex-grow: 1;
  list-style: none;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  top: 27px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg); /*Убрал повторяющиеся стили в card*/
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-underline-position: under;
  text-transform: uppercase;
  margin: 0 40px;
  position: relative;
  top: 51px;
  z-index: 2;
  
}

.card__text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 40px;
  position: relative;
  z-index: 2;
}

.card__text-first {
  top: 290px;
}

.card__text-second {
  top: 51px;
}

.card__text-last {
  top: 145px;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin: 57px 0 0 40px;
}

.about {
  width: 1052px;
  min-height: 595px; /*Исправил*/
  margin: 148px 24px 0;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 274px auto;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%; /*Исправил, для скругления углов квадрата указал в процентах*/
  background-color: black;
  display: flex;
  justify-self: center;
  align-self: flex-end;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  margin: 40px 0 0 25px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  grid-column: 2/2;
  margin: 8px 0 0 25px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 180px 50px 88px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  text-underline-position: under;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}

/* Исправил пути к картинкам, теперь должно правильно отображать */